/**/
/*
    Sticker Design Area
*/
.sb_sticker_area{
    position: relative;
    width: 100%;
    overflow: visible;
}
    #sticker_canvas{
        position: relative;
        width: 100%;
        padding: 5%;
        height: calc(1.41*100vw);
        margin: 0 auto;
        background-color: #eee;
        border: solid 1px #444;
    }

    #sticker_area_controls{
        text-align: right;
        margin: 5px auto;
    }

    /*
        Sticker Set
    */
    .sticker_set{
        position: relative;
        float: left;
        width: 48.8%;
        margin: .3%;
        height: 19.4%;
        transition: all .8s;
    }
    .sticker_set:hover{
        box-shadow: 0 0 5px 2px #444;
    }
        .sticker_set_controls{
            position: absolute;
            width: 100%;
            height: 50px;
            top: 0px;
            opacity: 0;
            background: #ccc;
            padding: 5px;
            border-radius: 5px 5px 0 0;
            text-align: center;
            border: solid 1px #444;
            border-bottom: none;
            transition: all .4s;
            z-index: -1 !important;
        }
        .sticker_set.image_attached:hover .sticker_set_controls{
            top: -51px;
            opacity: 1;
            z-index: 9999 !important;
        }
        .sticker_set:hover{
            z-index: 9999 !important;
        }

        .sticker_outer{
            position: relative;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            padding: 1%;
            background-color: #fff;
            z-index: 4;
            transition: all .4s;
            overflow: hidden;
        }

            .sticker_boarder_outer{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: solid 1px #000;
                z-index: 5;
                pointer-events: none;
            }
            .sticker_boarder_inner{
                position: absolute;
                top: 8px;
                left: 8px;
                right: 8px;
                bottom: 8px;
                border: dashed 1px #444;
                background-color: transparent;
                pointer-events: none;
            }

        .sticker_inner{
            position: relative;
            height: 100%;
            width: 100%;
            transition: all .4s;
        }
            .sticker_image_dropzone{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }

        /* Dynamically changing classes */
        .image_in_dropzone{
            background-color: #20b2aa;
        }
            .dz-success{
                display: none;
            }


            .sticker_image_notice{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
                .sticker_image_addcontrols{
                    position: relative;
                    margin: auto auto;
                    width: 90%;
                    margin:5%;
                    height:80%;
                    padding: 3%;
                    border-radius: 5px;
                    background-color: #eee;
                    opacity: .6;
                    transition: all .4s;
                }
                .sticker_set:hover .sticker_image_addcontrols{
                    opacity: 1;
                }
                    .sbac_add_image{
                        position: relative;
                        text-align: center;
                        margin: auto;
                        cursor: pointer;
                        transition: all .4s;
                        border-radius: 5px;
                        margin-top: 5px;
                    }
                    .sbac_add_image:hover{
                        box-shadow: 0 0 8px 3px #ddd;
                    }
                    .sbac_add_image i{
                        font-size: 4em;
                        padding-bottom: 15px;
                    }
                    .sbac_add_image .add_img_txt,
                    .sbac_add_image .add_img_desc{
                        opacity: .6;
                    }
                    .add_img_desc{
                        font-size: 13pt;
                    }

                    @media(max-width:740px){
                        .sbac_add_image i{
                            padding-bottom: 5px;
                            font-size: 3em;
                        }
                        .add_img_desc{
                            font-size: 12pt;
                        }
                    }

                    @media(max-width:622px){
                        .sbac_add_image i{
                            padding-bottom: 2px;
                            font-size: 3em;
                        }
                        .add_img_desc{
                            font-size: 10pt;
                        }
                    }
                    @media(max-width:545px){
                        .sbac_add_image i{
                            padding-bottom: 0px;
                            font-size: 2em;
                        }
                        .add_img_desc{
                            font-size: 10pt;
                        }
                    }
                    @media(max-width:500px){
                        .sbac_add_image i{
                            padding-bottom: 0px;
                            font-size: 3.4em;
                        }
                        .add_img_desc{
                            font-size: 10pt;
                            display: none;
                        }
                    }


    .sticker_image_holder{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0;
        transition: all .8s;
        z-index: 1;
        pointer-events: none;
    }
    .image_uploaded .sticker_image_holder{
        z-index: 3;
        opacity: 1;
    }
    .image_uploaded .sticker_inner{
        opacity: 0;
    }

    .dz-preview .dz-details,
    .dz-preview .dz-success-mark{
        display: none;
    }

    .dz-preview .dz-error-message{
        font-size: 10pt;
    }
    .dz-preview .dz-error-mark{
        display: none;
    }

    .progress_handle {
        position: absolute;
        padding: 5%;
        text-align: center;
        width: 100%;
        top: 40%;
        display: none;
    }

    .progress_bar_outer{
        position: absolute;
        padding: 2px;
        width: 90%;
        height: 30px;
        background-color: #fff;
        border-radius: 5px;
        border: solid 2px #444;
        box-shadow: 0 0 5px 2px #ccc;
    }

    .progress_bar_inner{
        position:absolute;
        left: 0;
        top: 0;
        height: 22px;
        margin: 2px;
        width: 5%;
        background-color: #20b2aa;
        z-index: 0;
    }

    .progress_bar_percent{
        position: absolute;
        right: 10px;
        color: #000;
        z-index: 1;
    }




    .image_on_edit .sticker_outer.image_uploaded {
        overflow: visible;
    }

    .sn_image{
        position: relative;
        max-width: none !important;
        width:100%;
        height: auto;
    }

    .image_on_edit .sn_image {
        border: dashed 3px #f00;
        padding: 4px;
        border-radius: 4px;
        height: auto;
    }

    .image_on_edit .sticker_image_holder{
        border: solid 2px #000;
        z-index: 9998;
        
    }

    .image_on_edit .sticker_set_controls{
        display: none !important;
    }
    .image_on_edit .ui-wrapper.ui-draggable.ui-draggable-handle {
        overflow: visible !important;
    }

    .image_on_edit .sticker_boarder_outer,
    .image_on_edit .sticker_boarder_inner
    {
        z-index: 9999;
        border-color: tomato;
    }
    .image_on_edit .sticker_boarder_outer{
        background-color:rgba(255,255,255,.2);
    }


    .image_on_edit{
        z-index: 9999;
    }

    .sn_edit_done {
        top: 10px;
        right: 22px;
        text-transform: none;
        position: absolute;
        transition: all .4s;
        opacity: .8;
        z-index: 99999;
    }
        .sn_edit_done:hover{
            opacity: 1;
        }


    .resize
    {
        position:absolute;
        border-color:black;
        border-style:solid;
        border-width:1px;
    }

    .ui-resizable-se,
    .ui-resizable-sw,
    .ui-resizable-nw,
    .ui-resizable-ne{
        width: 15px;
        height: 15px;
        border-radius: 10px;
        background-color: #ccc;
        border: solid 2px #444;
        cursor: pointer !important;
        transition: all .4s;
        display: none;
        opacity: .8;
    }

    .ui-resizable-se:hover,
    .ui-resizable-sw:hover,
    .ui-resizable-nw:hover,
    .ui-resizable-ne:hover{
        opacity: 1;
        background-color: #c00;
    }
    .image_on_edit_resize{
        z-index: 99998;
    }
    .image_on_edit_resize .sn_edit_done{
        z-index: 99999;
        pointer-events: auto;
    }
    .image_on_edit_resize .ui-wrapper{
        overflow: visible !important;
    }
    .image_on_edit_resize .ui-resizable-se,
    .image_on_edit_resize .ui-resizable-sw,
    .image_on_edit_resize .ui-resizable-nw,
    .image_on_edit_resize .ui-resizable-ne{
        display: block;
    }


    .ui-resizable-se{
    bottom:0px;
    right:0px;
    }

    .ui-resizable-sw{
    bottom:0px;
    left:-15px;
    }
    .ui-resizable-nw{
    top:-12px;
    left:-14px;
    }
    .ui-resizable-ne{
    top:-14px;
    right:0px;
    }


.drop_hover{
    background-color: tomato;
}

/*.image_in_dropzone .sticker_image_dropzone,*/
.image_uploaded .sticker_image_dropzone,
.image_on_edit .sticker_image_dropzone{
    pointer-events: none;
}


.image_on_edit_move .sn_image{
    cursor: move;
    z-index: 99999;
}

.image_on_edit_rotate{
    z-index: 99999;
}
.ui-rotatable-handle {
    background-color: #c99;
    border: solid 2px #444;
    padding: 7px;
    border-radius: 10px;
    width: 20px !important;
    height: 20px !important;
    right: -25px;
    left: auto !important;
    z-index: 99999;
    top: -25px !important;
    opacity: 1;
}

@media (max-width:600px){
    .sticker_set_controls{
        height:90px;
    }
    .sticker_set.image_attached:hover .sticker_set_controls{
        top: -90px;
    }
    .sticker_set_controls .btn {
        width: 47%;
        margin-bottom: 1%;
    }
}

.sb_sticker_area .btn{
    background-color: #666 !important;
}

.sbcs_print_sticker{
    font-size: 14pt;
}


.modal-backdrop{
    z-index: 0;
}














/*
    Printing purposes
*/
#hidden_canvas{
    
    position: absolute;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    top: 100vw;
    left: 0;
    
    height: 100%;
    width: 100%;
    /**/
    overflow: scroll;
    z-index: 999999;
    
}



#print_canvas{
    position: absolute;
    height: 3496.8px !important;
    width: 2480px !important;
    margin: 0 auto;
    padding:5% !important;
}

.print_section {
    position: relative;
    float: left;
    width: 48.8%;
    height: 19.4%;
    overflow: hidden;
    margin: .3%;
    background-color: #ccc;
}

.print_image_holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.print_sn_image{
    position: absolute !important;
    width:100% !important;
}









